[Desktop Entry]
Name=Git DAG
Comment=An advanced git DAG visualizer
Exec=git-dag --prompt
Icon=/usr/share/git-cola/icons/git.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;RevisionControl;
X-KDE-SubstituteUID=false
