[Desktop Entry]
Name=Git Cola
Comment=The highly caffeinated Git GUI
Comment[cs]=Git GUI s vysokým obsahem kofeinu
Comment[zh_TW]=高咖啡因含量的 Git 圖形介面
TryExec=git-cola
Exec=git-cola --prompt
Icon=git-cola
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;RevisionControl;
X-KDE-SubstituteUID=false
