[Desktop Entry]
Name=Git Cola
Comment=The highly caffeinated Git GUI
TryExec=git-cola
Exec=git-cola --prompt
Icon=/usr/share/git-cola/icons/git.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;RevisionControl;
X-KDE-SubstituteUID=false
