/git-cola.app
/build
/build-stamp
/cola/builtin_version.py
/config.mak
/configure-stamp
/dist
/debian/*.log
/debian/files
/debian/bld
/debian/cola
/Meta
/test/tmp
/tags
.DS_Store
.noseids
*.py[co]
*.swp
*~
