*.deb
*.pyc
*.pyo
*.rpm
*.swp
*~
.DS_Store
.noseids
/git-cola.app
/build
/build-stamp
/ChangeLog
/cola.tuxfamily.org
/configure-stamp
/dist
/debian/*.log
/debian/files
/debian/bld
/debian/cola
/installroot
/.lock-wscript
/Meta
/patches
/releases
/test/tmp
/tags
