/.cache
/.coverage
/.idea
/build
/config.mak
/cola/_build_version.py
/dist
/.eggs
/env*
/git-cola.app
/local
/pip-wheel-metadata
/pynsist_pkgs
/.pytest_cache
/README.html
/share/locale
/test/tmp
/todo
/tags
/.tox
__pycache__
.DS_Store
.noseids
*.egg-info
*.gz
*.py[cod]
*.qm
*.swp
*.zip
*~
