# Travis CI(http://travis-ci.org) configuration file
language: python
python:
  - "2.7"
  - "3.4"
#  https://docs.travis-ci.com/user/languages/python/
#  We use apt to avoid having to build PyQt ourselves, so that means
#  we can only use the default python versions available in Ubuntu.
#  For Trusty, that's 2.7.6 and 3.4.3.
virtualenv:
  system_site_packages: true

addons:
  apt:
    packages:
      # Build dependencies, not needed at runtime
      # git and python are pre-installed according to Debian control file from
      # Ubuntu 14.04 (trusty).  Install python2 and python3 packages to allow
      # testing against both versions.  Users only need one variant installed.
      - gettext
      - python-sphinx
      - python3-sphinx
      - rsync
      # Runtime dependencies
      - python-qt4
      - python3-pyqt5

before_install:
  # Git test setup
  - git config --global user.name "Git Cola"
  - git config --global user.email git-cola@localhost.localdomain

install:
  # Test dependencies
  - make requirements-dev
  # Build translations
  - make all
  # Build documentation
  - make doc

script:
  # Run tests
  - make test V=2
  - pylint --version
  # Only run the full pylint tests on python2.7
  - test "2.7" != "$TRAVIS_PYTHON_VERSION" || make pylint
  - make pylint3k
  - flake8 --version
  - make flake8
