include bin/git-cola
include cola/*.py
include cola/dag/*.py
include cola/classic/*.py
include cola/controllers/*.py
include cola/main/*.py
include cola/merge/*.py
include cola/models/*.py
include cola/prefs/*.py
include cola/views/*.py
include darwin/*
include test/*.py
include README
include ChangeLog
include Makefile
include INSTALL
include LICENSE
include MANIFEST.in
include po/*.po
include share/applications/*.desktop
include share/doc/git-cola/.gitignore
include share/doc/git-cola/*.rst
include share/doc/git-cola/models/*.rst
include share/doc/git-cola/controllers/*.rst
include share/doc/git-cola/views/*.rst
include share/doc/git-cola/images/*.png
include share/doc/git-cola/_static/*.png
include share/doc/git-cola/_templates/.gitignore
include share/doc/git-cola/*.txt
include share/doc/git-cola/*.conf
include share/doc/git-cola/Makefile
include share/doc/git-cola/Makefile.asciidoc
include share/doc/git-cola/build-docdep.perl
include share/doc/git-cola/callouts.xsl
include share/git-cola/bin/*
include share/git-cola/icons/*.png
include share/git-cola/styles/*.qss
include share/git-cola/styles/images/*.png
include win32/*
