include share/cola/qm/.gitignore
include share/cola/po/*.po
include share/cola/icons/*.png
include share/cola/styles/*.qss
include share/cola/styles/images/*.png
include share/applications/*.desktop
include share/doc/cola/*.txt
include share/doc/cola/*.conf
include share/doc/cola/Makefile
include share/doc/cola/build-docdep.perl
include share/doc/cola/callouts.xsl
include ui/*.ui
include t/t*.py
include t/Makefile
include t/run_tests
include README
include ChangeLog
include Makefile
include INSTALL
include LICENSE
include MANIFEST.in
