include share/cola/qm/.gitignore
include share/cola/gui/.gitignore
include share/cola/views/*.py
include share/cola/po/*.po
include share/cola/icons/*.png
include cola/*.py
include cola/controllers/*.py
include cola/gui/*.py
include cola/views/*.py
include jsonpickle/LICENSE
include jsonpickle/*.py
include jsonpickle/tests/*.py
include simplejson/LICENSE
include simplejson/*.py
include simplejson/tests/*.py
include share/cola/styles/*.qss
include share/cola/styles/images/*.png
include share/applications/*.desktop
include share/doc/cola/*.txt
include share/doc/cola/*.conf
include share/doc/cola/Makefile
include share/doc/cola/build-docdep.perl
include share/doc/cola/callouts.xsl
include ui/*.ui
include test/*.py
include test/Makefile
include README
include ChangeLog
include Makefile
include INSTALL
include LICENSE
include MANIFEST.in
