#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEBIAN=$(CURDIR)/debian
BUILD=$(DEBIAN)/bld

# We generate a site-packages directory for python2.4 and python2.5
PYTHON24=/usr/bin/python2.4
PYTHON25=/usr/bin/python2.5
PYTHON25_MODS=$(DEBIAN)/ugit/usr/lib/python2.5/site-packages

configure: $(BUILD)/configure-stamp
$(BUILD)/configure-stamp:
	env PYTHON=$(PYTHON24) ./configure \
		--prefix=/usr \
		--blddir=$(BUILD) \
		--destdir=$(DEBIAN)/ugit
	touch $(BUILD)/configure-stamp

build: $(BUILD)/build-stamp
$(BUILD)/build-stamp: $(BUILD)/configure-stamp
	env PYTHON=$(PYTHON24) $(MAKE)
	touch $(BUILD)/build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -rf $(BUILD)

install: build

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	env PYTHON=$(PYTHON24) $(MAKE) DESTDIR=$(DEBIAN)/ugit install
	mkdir -p $(PYTHON25_MODS)
	cp python-git/git.py $(PYTHON25_MODS)
	# Build a compile .pyc
	env PYTHON=$(PYTHON25) PYTHONOPTIMIZE=  \
		$(PYTHON25) scripts/pycompile $(PYTHON25_MODS)/git.py
	# Build an optimized .pyo
	env PYTHON=$(PYTHON25) PYTHONOPTIMIZE=1 \
		$(PYTHON25) scripts/pycompile $(PYTHON25_MODS)/git.py
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
