[Desktop Entry]
Encoding=UTF-8
Name=ugit
Comment=ugit: the pythonic git gui
Exec=git ugit
Icon=/usr/share/ugit/icons/git.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Development
X-KDE-SubstituteUID=false
