astroid==2.2.5; python_version >= '3.0'
astroid==1.6.5; python_version < '3.0'
enum34==1.1.6; python_version < '3.0'
flake8
mock
pbr
pylint==1.9.4; python_version < '3.0'
pylint==2.3.1; python_version >= '3.0'
PyYAML
pytest>=3.6
pytest-cov
Sphinx
sphinx-rtd-theme==0.4.3; python_version < '3.0'
sphinx-rtd-theme; python_version >= '3.0'
