# Development packages are used to run the test suite and build documentation

## pylint, flake8 checkers are used by "make check".
astroid==1.6.5; python_version == '2.7'
enum34==1.1.6; python_version < '3.4'
flake8
mock
pbr
pylint==1.9.4; python_version == '2.7'
pylint==2.7.0; python_version >= '3.6'
PyYAML

## mock and pytest packages are used by the "make test" test suite.
pytest>=3.6
pytest-cov
pytest-flake8
pytest-black-multipy

## Build and install documentation using "make doc" and "make install-doc".
Sphinx
sphinx-rtd-theme==0.4.3; python_version < '3.0'
sphinx-rtd-theme; python_version >= '3.0'
